<% include header_admin %>

	<nav>
			<ul>
				<li><a href="/admin/editPage">Add New Page</a></li>
				<li><a href="/admin/editAccount">Edit Account</a></li>
				<li><a href="/admin/logout">Logout</a></li>
			</ul>
		</nav>

		<header>
			<h1>Table of Pages</h1>
		</header>

		<div id="table">
		<table>
			<tr>
			    <th>Title</th>
			    <th>Updated</th>
			    <th>Options</th>
		  	</tr>

				<% for (var i = 0; i < pages.length; i++){ %>
			  	<tr>
						<td><a href="/<%= pages[i].url %>" class="pages"><%= pages[i].title %></a></td>
			  		<td><%= pages[i].date %></td>
			  		<td>
				  			<a href="/admin/editPage/<%= pages[i]._id %>" class="button edit">Edit</a>
								<a href="/admin/visiblePage/<%= pages[i]._id %>" class="button visibility">Visibility</a>
								<a href="/admin/deletePage/<%= pages[i]._id%>" class="button delete">Delete</a>
					</td>
			  	</tr>
				<% } %>

		</table>
		</div>

<% include footer %>
