<% include header_admin %>

	<header>
		<% if (title) { %>
			<h1>Edit <%= title %> Page </h1>
		<% }else{ %>
			<h1>Edit Page</h1>
		<% } %>
		</header>

		<% if (url) { %>
			<form action="/admin/addPage/<%= url %>" method="POST">
		<% }else{ %>
			<form action="/admin/addPage/newPage" method="POST">
		<% } %>

			<div class="editPage">
				<h2>Title</h2>
				<% if (title) { %>
					<input type="text" name="title" value="<%= title %>">
				<% }else{ %>
					<input type="text" name="title" placeholder="Edit Title">
				<% } %>
			</div>

			<div class="editPage">
				<h2>Body</h2>
				<h3>Section 1 Title</h3>
				<% if (section_title) { %>
					<input type="text" name="section1_title" value="<%= section_title %>">
				<% }else{ %>
					<input type="text" name="section1_title" placeholder="Edit Section 1 Title">
				<% } %>

				<h3>Section 1 Body</h3>
				<% if (body) { %>
						<textarea name="section1_body"><%= body %></textarea>
				<% }else{ %>
						<textarea name="section1_body" placeholder="Edit Section 1 Body"></textarea>
				<% } %>

				<!-- <h3>Section 2 Title (Left)</h3>
				<input type="text" name="section2_left_title" placeholder="Edit Section 2 Title (Left)">
				<h3>Section 2 Body (Left)</h3>
				<textarea name="section2_left_body" placeholder="Edit Section 2 Body (Left)"></textarea>

				<h3>Section 2 Title (Right)</h3>
				<input type="text" name="section2_right_title" placeholder="Edit Section 2 Title (Right)">
				<h3>Section 2 Body (Right)</h3>
				<textarea name="section2_right_body" placeholder="Edit Section 2 Body (Right)"></textarea>

				<h3>Section 3 Title</h3>
				<input type="text" name="section3_title" placeholder="Edit Section 3 Title">
				<h3>Section 3 Body</h3>
				<textarea name="section3_body" placeholder="Edit Section 3 Body"></textarea> -->
			</div>

			<div class="editPage">
				<h2>Footer</h2>
				<% if (footer) { %>
					<input type="text" name="footer" value="<%= footer %>">
				<% }else{ %>
					<input type="text" name="footer" placeholder="Edit Footer">
				<% } %>
			</div>

			<div class="editPage">
				<h2>URL</h2>
				<% if (url) { %>
					<input type="text" name="url" value="<%= url %>">
				<% }else{ %>
					<input type="text" name="url" placeholder="Edit URL">
				<% } %>
			</div>

			<div class="editPage">
				<h2>Template</h2>
				<select name="template">
					<% if (template == "Template A") { %>
						<option disabled>Please select a template</option>
						<option selected>Template A</option>
						<option>Template B</option>
						<option>Template C</option>
					<% }else if (template == "Template B"){ %>
						<option disabled>Please select a template</option>
						<option>Template A</option>
						<option selected>Template B</option>
						<option>Template C</option>
					<% }else if (template == "Template C"){ %>
						<option disabled>Please select a template</option>
						<option>Template A</option>
						<option>Template B</option>
						<option selected>Template C</option>
					<% } else{ %>
						<option disabled selected>Please select a template</option>
						<option>Template A</option>
						<option>Template B</option>
						<option>Template C</option>
					<% } %>
				</select>
			</div>

			<div class="editPage">
				<button type="submit">Save</button>
			</div>

		</form>

<% include footer %>
